@model MyCompany.Models.Employee
<aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <div class="heading">
        @if (ViewBag.Photo == null)
        {
            <img id="dashboardPic" class="avatar img-circle img-thumbnail" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"  style="max-height:100px;  margin-left:45px; max-width:100px;" alt="" alt="">
        }
        else
        {
            <a href="@Url.Action("UserDashBoard", "Home")">
                <img  id="dashboardPic" class=" avatar  img-circle img-thumbnail" src=@("data:" + ViewBag.PhotoType + ";base64," + Convert.ToBase64String(ViewBag.Photo)) style="max-height:100px;  margin-left:55px; max-width:100px;" alt="" />
            </a>
        }
        <div class="text-center info " style="margin-left:20px">
            <h3><a href="@Url.Action("UserDashBoard", "Home")">@ViewBag.FullName</a></h3>
            <p>Developer</p>
        </div>
    </div>
    <ul class="categories">
        <li>
            <i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="/Employee/Index">Contacts</a>
        </li>
        <li>
            <i class="fa fa-support fa-fw"></i><a href="#"> Absences</a>
        </li>
        <li>
            <i class="fa fa-envelope fa-fw"></i><a href="#"> Realizations</a>
        </li>
        <li>
            <i class="fa fa-users fa-fw"></i><a href="#"> Documents</a>
        </li>

    </ul>
</aside>

    <nav class="navbar-fixed-top navbar-expand-sm" style="background-color:#1abc9c;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-align-right"></i>
                </button>
                <a class="navbar-brand" href="#">my<span class="main-color">Dashboard</span></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("LogOut", "Home")" <i class="fa fa-sign-out"></i> Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
